
.nav-bar-box {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
   z-index: 10;
  justify-content: center;
}
.navbar {
  width: 80%;
  display: flex;
  justify-content: center;
  height: 45px;
 
  box-sizing: border-box;
  z-index: 10;
}
.nav-list-box {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
.nav-list-item {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}


.list { 
  display: flex;
  padding: 0px 10px 0px 10px;
  align-items: center;
  cursor: pointer;
 justify-content: center;
}
/* .list:hover { 
 border: 0.2px solid rebeccapurple;
 box-sizing: border-box;
} */




.nav-link {
  display: flex;
  justify-content: center;
  list-style: none; 
}
ul li{

  float: left;
  padding: 5px;
  text-align: center;
  list-style: none; 
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.logo {
  font-size: 1.9rem;
  font-weight: 700;  
  color: #452d85;
}
.signup {
  border: 1px solid;
  position: relative;
  color: yellow;
  border-radius: 10px;
}
.mobile-menu-icon {
  display: none;
}
.menu {
  display: none;
}
@media screen and (max-width: 900px) {
  .log {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .list {
    width: 100px;
    display: flex;  
    padding: 0;
    margin-bottom: 18px;
    justify-content: flex-start;
    }
    .list:hover {
      
      justify-content: center;
      }



  .menu { 
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: center;
    padding: 12px;
    width: 20px;
    height: 18px;
    margin: 0px;
  }
  .nav-link {
    display: none;
  }
  .nav-link-mobile {
  
    width: 160px;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    background-color: white;
    left: 0;
    height: 100vh;
    top: 30px;
    transition: all 0.6s ease-out;

  }
  li {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    color: black;
    align-items: center;
    font-weight: 700;
    margin-bottom: 10px;
    transition: all 0.5s ease;
  }
  li:hover{
    background-color: #452d85;
    width: 100%;
    color: aliceblue;
    border-radius: 15px 0px 0px 15px;
  }
  
  .signup {
    border: none;
    height: 0px;
  }
  .mobile-menu-icon {
    display: block;
    font-size: 10px;
    color: white;
    border: none;
    outline: none;
  }
}
@media screen and (max-width: 600px){
  .logo {
    font-size: 1.2rem;
    font-weight: 700;  
    color: #452d85;
  }
  .css-1az6oqs-MuiButtonBase-root-MuiButton-root{
    font-size: 8px !important;
    min-width: none !important;

  }
  .css-1xoau48-MuiButtonBase-root-MuiButton-root{
    font-size: 8px !important;
    min-width: none !important;
    width: 100px !important;
    padding: 6px 4px !important;

  }
  .css-9tj150-MuiButton-endIcon>*:nth-of-type(1){
    font-size: 14px !important;
  }
  .menu{
    padding: 11PX;
  }
  .nav-bar-box{
    padding: 2px 0px 2px 0px ;
  }
}
.profile-container a {
  margin: 10px;
  padding: 10px;
}
.click-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
