.nav-list-box {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

}
.nav-bar-box {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 10;
}
.list {
  width: 80px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
}



.nav-link {
  display: flex;
  justify-content: center;
  list-style: none;
}
li {
  float: left;
  padding: 8px;
  text-align: center;
  list-style: none; 
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.logo {
  font-size: 1.9rem;
  font-weight: 700;
  
  color: #452d85;
}
.signup {
  border: 1px solid;
  position: relative;
  color: yellow;
  border-radius: 10px;
}
.mobile-menu-icon {
  display: none;
}
.menu {
  display: none;
}
@media screen and (max-width: 750px) {
  .log {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .menu {
    display: block;
  }
  .nav-link {
    display: none;
  }
  .nav-link-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: white;
    left: 0;
    height: auto;
    top: 35px;
    transition: all 0.6s ease-out;
    width: 100%;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-align: center;

    transition: all 0.5s ease;
  }
  .signup {
    border: none;
    height: 30px;
  }
  .mobile-menu-icon {
    display: block;
    font-size: 10px;
    color: white;
 
    border: none;
    outline: none;
  }
}

.profile-container a {
  margin: 10px;
  padding: 10px;
}
.click-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
