* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.Container {
  width: 100%;
  z-index: 0;

  padding: 80px 0px 0px 0px;
}

.Header_Banner {
  width: 100%;
  height: auto;
  /* padding: 50px 0px; */
  background-color: #27274d;
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.header-conatiner-box {
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-logo img {
  width: 100%;
  flex: 1;
}
/* .text{
  display: flex;
  flex-direction: column;
  gap: 7px;
} */
.container-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header-text {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  flex-grow: 1;
}
.company_header2 {
  font-size: 2.1rem;
}
.text-body {
  font-size: 1rem;
  letter-spacing: 0.8px;
  line-height: 30px;
}
.text {
  text-shadow: 3px 4px 5px #1c1b1b;
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  gap: 10px;
}
.text-two {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 1300px) {
  .Header-text {
    font-size: 1.4rem;
  }
  .text-body {
    font-size: 0.8rem;
  }
}

.header_btn {
  padding: 10px;
  border-radius: 0;
}
.text-comp {
  width: 100%;
  flex: 1;
  font-size: 0.8rem;
  color: rgb(70, 68, 68);
}
.container_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: "center";
  background: linear-gradient(90deg, #d3e4ec 0.23%, #ffff 104.44%);
}

.container_box_main {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  width: 80%;
}
.text_header {
  color: #414198;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding: 10px 0px;
}
.text_body {
  padding: 10px 0px 25px 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1rem;
  text-align: center;
  color: #656565;
}

.heading {
  box-sizing: border-box;
  font-size: 25px;
  color: #3e1f71;
}

.Vegaworks {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.VegaWork_Container {
  display: flex;
  align-items: center;
  width: 80%;
  height: 500px;

  background-size: 400px 500px;
}

.vega_works_logo {
  width: 100%;
  display: flex;

  justify-content: center;
  padding: 10px;
}
.vega_works_details {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.VegaWorks_heading {
  font-size: 2.5rem;
  font-weight: 700;
}

.work-logo {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-space {
  line-height: 30px;
  font-size: 20px;
}
.vega_works_logo img {
  width: 100%;
}

.company-text {
  display: flex;
  padding: 15px;
  gap: 20px;
}
.container-company {
  width: 80%;
  display: flex;
  margin: 60px 0px 60px 0px;
  flex-direction: column;
  background: #ffffff;
  justify-content: center;
  height: auto;
}

.flex-box {
  width: 50%;
}
.company_header {
  width: 100%;
  flex: 1;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Vegacompany {
  width: 100%;
  display: flex;

  justify-content: center;
}
.Vega-company-text {
  font-size: 1.4vw;
  color: #656565;
}
.vegacompany-header {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 20px;
  color: #414198;
}
.VegaContact {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    95.63deg,
    #090909 -15.6%,
    #3e1f71 65.54%,
    #242424 127.85%
  );
}
.contact-info {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background: url("../public/contact_design.png"),
    linear-gradient(91.38deg, #ffffff 1.18%, #d8daff 100%);

  background-repeat: no-repeat;
  background-color: white;
}
.contact-box-temp {
  width: 100%;
  display: flex;
  height: auto;
  padding: 30px 0px 30px 0px;
  gap: 20px;
}
.contact-email-logo {
  width: 30%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.email-logo {
  display: flex;
  text-align: center;
}
.center-text {
  text-align: center;
}

.temp {
  display: flex;
  flex: 1;
  font-size: 20px;
  justify-content: center;
}

/* contact box*/
.contact-container {
  width: 100%;
  height: 800px;
  background: url("../public/background.png"),
    linear-gradient(95.73deg, #1f1133 4.56%, #1e1420 95.43%);

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-box {
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  display: flex;
  color: black;
  padding: 5pxpx;
  justify-content: center;
  background-color: white;
}
.first_lastName-box {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: row;
}
.contact-box-flex {
  display: flex;
  width: 100%;

  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
}
.heading-flex {
  display: flex;
  align-items: center;
}
.flex {
  width: 100%;
  display: flex;
  padding: 1px;
  flex-direction: column;
}
ol .flex-1 {
  width: 45%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.input-label {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
}
.form {
  padding: 20px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
}
.Sign-in-btn {
  padding: 10px;
  border-radius: 6px;
  background: #1e1236;
  text-align: center;
  color: white;
}
.vegaSubmit_btn {
  padding-top: 15px;
}
.team-container {
  width: 100%;
  display: flex;
  padding: 50px 0px;
  justify-content: center;
}
.team-main-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team-img img {
  width: 70%;
}
.teamImg-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.to_demo {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-heading {
  box-sizing: border-box;
  font-size: 35px;
  padding: 0px 0px 10px 0px;
  color: #3e1f71;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-in {
  width: 20px;
  height: 20px;
  text-align: center;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.vector-in img {
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-name {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  justify-content: center;
}
.team-member {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.social-site-logo {
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.model-body {
  display: flex;
  width: 100%;
  color: red;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 550px) {
  .member-name {
    font-size: 0.7rem;
    text-align: center;
  }

  .to_demo {
    padding: 5px;
  }
  .team-heading {
    font-size: 1.5rem;
  }
  /* .vector-in {
    width: 10px;
    height: 10px;
    text-align: center;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  } */
}
@media only screen and (max-width: 650px) {
  .css-xac76q-MuiButtonBase-root-MuiButton-root {
    padding: 6px 16px;
  }
}

.co
/*slider*/
.slider-container {
  overflow: hidden;
  position: relative;
  padding: 26px;
  color: black;
}
.image-container {
  padding: 0 10px;
  display: flex;
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.lessthen,
.greaterthen {
  border: none;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.greaterthen {
  right: 0;
}

.lessthen p,
.greaterthen p {
  font-size: 50px;
  background-color: rgba(188, 179, 179, 0.436);
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 10px;
  color: rgb(225, 216, 216);
  width: 50px;
  height: 50px;
  cursor: pointer;
  scroll-behavior: smooth;
}
.image-banner img {
  width: 300px;
  height: 250px;
}
.img-slider {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(27, 8, 56);
}

.img-window {
  width: 80%;
  display: flex;
}

/* slide container*/

/* .slick-initialized .slick-slide {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
} */
.slick-slide div {
  outline: none;
}
.slideShow_box {
  background-color: #0f0f3b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideShow_bo {
  background-color: #0f0f3b;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* platform css */
.Platform-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .Platform-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
.platform-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.css-715d1t-MuiGrid-root {
  margin-left: 0px !important;
}
@media only screen and (max-width: 900px) {
  .css-y9ylp1-MuiGrid-root {
    -webkit-flex-basis: 100% !important;
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .text_header {
    font-size: 2.3rem;
  }
}
.vega-apply {
  display: flex;
  align-items: center;
  justify-content: center;
}

.platform_container {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  height: auto;
  border: 1px solid #dedede;
  border-radius: 10px;
  font-size: 12px;
  background-color: rgb(252, 252, 252);
}
.main_container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100px;
}
.platform-box-heading {
  font-size: 20px;
  font-weight: 600;
}
.grid {
  gap: 5px;
}
.VegaPay_platform {
  width: 100%;
  padding: 50px 0px;
  background: linear-gradient(100.24deg, #cee3e9 0.23%, #fdfdfd 150.44%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 100%;
  display: flex;
  box-shadow: 1px 1px 37px 4px lightgray;
  justify-content: center;
}
.contained {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
/*
credit
*/
.VegaCredit {
  width: 100%;
  display: flex;
  height: 250px;
  padding: 50px 0px;
  align-items: center;
  justify-content: center;
  background: #e5e6ff;
}
.credit-box {
  width: 80%;
  box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 150px;
  display: flex;
  gap: 10px;
}
.credit-content {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.credit-suite {
  padding: 1rem;
  background: linear-gradient(91.38deg, #3c2d67 1.18%, #1d1438 100%);
  box-shadow: 0px 4px 41px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  display: flex;
}

.img-credit {
  display: flex;
  background: linear-gradient(101.23deg, #ffffff 0%, #ffffff 100%);
  border: 0.406736px solid #dedede;
  height: 60px;
  width: 169px;
  flex: 1;
  gap: 15%;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.credit-header {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 15px 0px;
  color: #ffff;
  font-size: 25px;
}
.credit-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 30px;
  box-shadow: 0px 0px 8px -2px #4d4b4b;
  border-radius: 50%;
  background-color: white;
  padding: 0px 5px 0px 5px;
}
.credit-logo img {
  background-size: 1vw;
}

.credit-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.credit-content {
  display: flex;

  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.credit-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
@media only screen and (max-width: 850px) {
  .container-box {
    width: 100%;
    width: 100%;
  }
  .Header_Banner {
    width: 100%;

    padding: 50px 0px;
    height: auto;
    background-color: #0f0f3b;
    background-image: url("../public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;

    align-items: center;
    justify-content: center;
  }
  .header-conatiner-box {
    display: flex;
    height: auto;
    flex-direction: column-reverse;
  }
  .Header-text {
    font-size: 2.3rem;
  }
  .text-body {
    font-size: 1rem;
  }
  .mobile.logo-two {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .mobile.logo-two img {
    width: 50%;
  }
  .contact-email-logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .credit-box {
    width: 80%;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .VegaCredit {
    width: 100%;
    display: flex;

    height: auto;
    align-items: center;
    justify-content: center;
    background: #e5e6ff;
  }
  .credit-suite {
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .credit-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .img-credit {
    padding: 10px;
    width: 198px;
  }
  .credit-header {
    width: 100%;
  }
  .credit-flex {
    display: flex;
    font-size: 0.8rem;
  }
  .text {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .vega_works_logo img {
    width: 120%;
  }
  .member-name {
    font-size: 0.6rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-align: center;
  }
  .company_header {
    gap: 10px;
    text-align: center;
  }
  .vegacompany-header {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #414198;
  }

  /* vega work*/
  .VegaWork_Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    background-size: 400px 500px;
  }
  .flex-box {
    width: 100%;
  }
  .vega_works_details {
    width: 100%;
  }
  .work-space {
    font-size: 0.8rem;
  }
  .VegaWorks_heading {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 750px) {
  .platform-box-heading {
    font-size: 15px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 450px) {
  .platform_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    height: auto;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-size: 12px;
    background-color: rgb(252, 252, 252);
  }
  .main_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: auto;

    background-color: rgb(252, 252, 252);
  }
  .platform-box-heading {
    font-size: 12px;
    font-weight: 600;
  }

  .logo-box {
    width: 50px;
    height: 46px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    box-shadow: 1px 1px 37px 4px lightgray;
    justify-content: center;
  }
  .logo-box img {
    width: 30px;
    padding: auto;
  }
  .contained {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .text-comp {
    text-align: center;
    font-size: 0.9rem;
  }
  .text_header {
    font-size: 25px;
  }

  .Header-text {
    font-size: 1.4rem;
  }
  .text-body {
    font-size: 0.9rem;
    line-height: 23px;
  }
  .img-credit {
    padding: 10px;
    width: 100%;
  }
  .credit-flex {
    text-align: center;
  }
}
.team_container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff !important;
}

/*teams */
.simple_slide_box_teams {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slide_container_teams {
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
}
/* .slick-slide {
  display: flex !important;
  width: 300px;
  text-align: center;
  align-items: center;
  height: 350px;
  border: none !important;
  flex-direction: row !important;
  justify-content: center;
} */
/* .slick-initialized .slick-slide {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  height: 300px;
} */
/* .slick-slide div {
  outline: none;
} */
/*teams end*/
